<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST NFT</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div class="bg">
        <img src="./images/btnLoginMM.png" id="btn_connect_MM" alt="" onClick="LoginMetaMask()" /> <br />
        <h4 class="txt"></h4>
        <h2 id="installMM">Please install Metamask, thank you.</h2>
        <input id="totalHero" type="text" value="5" />
        <button id="buyHero">Buy Hero</button>
    </div>

    <script src="./js/jquery.js"></script>
    <script src="./scripts/web3.min.js"></script>
    <script src="./js/login.js"></script>
    <script>

    </script>
</body>

</html>